{%- if now < themeSelectionBegin -%}
Theme voting commences in {{ themeSelectionBegin | timespan }}.
{%- elif now < jamBegin -%}
The jam begins in {{ jamBegin | timespan }}.
{%- elif now < rankedJamEnd -%}
The ranked jam ends in {{ rankedJamEnd | timespan }}.
{%- elif now < unrankedJamEnd -%}
The unranked jam ends in {{ unrankedJamEnd | timespan }}.
{%- elif now < votingEnd -%}
Voting ends in {{ votingEnd | timespan }}.
{%- else -%}
idk.
{%- endif -%}
